[Desktop Entry]
Icon=drive-harddisk
Name=Disk Space Tray
Categories=System;Monitor;
Exec=systemctl --user start qubes-widget@qui-disk-space
Terminal=false
Type=Application