[Desktop Entry]
Icon=media-removable
Name=Devices Tray
Categories=System;Monitor;
Exec=systemctl --user start qubes-widget@qui-devices
Terminal=false
Type=Application

