[Desktop Entry]
Icon=edit-paste
Name=Clipboard Tray
Categories=System;Monitor;
Exec=systemctl --user start qubes-widget@qui-clipboard
Terminal=false
Type=Application
